
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/wallpaper.png")
}

a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

a:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


hr.small {
    max-width: 100px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headertext {
    z-index : 1;
    position: relative;
}

.about {
    padding: 50px 0;
}

.about h3 {
    line-height: 200%;
    font-weight: 100;
}

.about span {
    color: #00aa33;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.about span:hover {
    color: #008800;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fa-envelope, .fa-facebook-square, .fa-github-square, 
.fa-linkedin-square, .fa-bars:hover,
.fa-arrow-circle-left:hover, .glyphicon-chevron-up,
.fa-chevron-down {
    color: #444;
    opacity: 0.7;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fa-bars, .fa-arrow-circle-left, .fa-envelope:hover, 
.fa-facebook-square:hover, .fa-github-square:hover, 
.fa-linkedin-square:hover, .glyphicon-chevron-up:hover,
.fa-chevron-down:hover {
    color: black;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fa-arrow-circle-left {
    color: #444;
}

.projects {
    padding: 50px 0;
}

.projects h2, .projects h4, .morecontent h2, .morecontent h4,
.contact h2, .contact h4, .contact h3, .resume h3, .resume h2, 
.resume h4, footer p{
    font-weight: 100;
}

.showprojects {
    display: table;
    width: 100%;
    height: 333px;
    color: #fff;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.showprojects h1 {
    text-shadow: 5px 5px 5px #000000;
    position: relative;
    z-index: 1;
}

.projects h4 {
    line-height: 150%;
}

.moreaboutme {
    display: table;
    width: 100%;
    height: 333px;
    color: #fff;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.moreaboutme h1 {
    text-shadow: 5px 5px 5px #000000;
    position: relative;
    z-index: 1;
}

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item h4 {
    display: inline-block;
    max-width: 75%;
}

.img-portfolio {
    margin: 0 auto;
    width:  250px;
    height: 150px;
    max-width: 100%;
}

.morecontent {
    padding: 50px 0;
}

.morecontent h4 {
    line-height: 150%;
}

.morecontent span {
    color: blue;
    cursor: pointer;
}

.resume {
    padding: 50px 0;
}

.resume .btn {
    margin: 10px;
}

.contact {
    padding: 50px 0;
}

.contact .btn {
    margin: 10px;
}

.bg-primary {
    background-color: #797979
}

footer {
    padding: 30px 0;
}

img {
    border:1.5px solid #333;
    border-radius: 5px;
}

.imgphoto {
        width: 300px; 
        height: auto; 
        margin-right: 50px; 
        margin-top: 15px;
        float: left;
}

.slideanimleft, .slideanimright, .slideanim {visibility:hidden;}
.slidesleft {
    animation-name: slidesleft;
    -webkit-animation-name: slidesleft; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}
@keyframes slidesleft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-10%, 70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translate(0%,0%);
    } 
}
@-webkit-keyframes slidesleft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-10%,70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translate(0%,0%);
    }
}

.slidesright {
    animation-name: slidesright;
    -webkit-animation-name: slidesright; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}
@keyframes slidesright {
    0% {
        opacity: 0;
        -webkit-transform: translate(10%, 70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translate(0%,0%);
    } 
}
@-webkit-keyframes slidesright {
    0% {
        opacity: 0;
        -webkit-transform: translate(10%,70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translate(0%,0%);
    }
}

.slides {
    animation-name: slides;
    -webkit-animation-name: slides; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}
@keyframes slides {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slides {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {

    .imgphoto {
        float: none;
        position: relative;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;  
    }

    .slidesleft {
        animation-name: slidesleft;
        -webkit-animation-name: slidesleft; 
        animation-duration: 1s; 
        -webkit-animation-duration: 1s;
        visibility: visible; 
    }
    @keyframes slidesleft {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        } 
    }
    @-webkit-keyframes slidesleft {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }

    .slidesright {
        animation-name: slidesright;
        -webkit-animation-name: slidesright; 
        animation-duration: 1s; 
        -webkit-animation-duration: 1s;
        visibility: visible; 
    }
    @keyframes slidesright {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        } 
    }
    @-webkit-keyframes slidesright {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
}

.showprojects h1 {
    font-weight: 100;
    font-size: 65px;
}

.moreaboutme h1 {
    font-weight: 100;
    font-size: 65px;
}

.header h1 {
    font-weight: 100;
    font-size: 75px;
}

.header h2 {
    font-weight: 100;
}


.myimg img {
    border-radius: 50%;
    max-width: 100%;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
